* 
{
	margin: 0;
	padding: 0;
}
body 
{
 background-image: url("pattern.jpg");
}
header 
{
	font-family: arial, sans-serif;
	background-color: white;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	position: fixed;
	z-index: 999;
}
header img 
{
	float: left;
}
header ul 
{
	float: right;
}
header ul a li
{
	font-weight: bold;
	color: blue;
	display: inline-block;
	text-decoration: none;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
section 
{
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 80px;
	padding: 5px;
	background-color: white;
}
section h1 
{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
footer
{
	background-color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}
footer h5{
	font-size: 12px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}